<table [dataSource]="dataSource" class="node-table" mat-table>

    <!-- Checkbox Column -->
    <ng-container [sticky]="true" matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th *matHeaderCellDef mat-header-cell> No.</th>
        <td *matCellDef="let element" mat-cell> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="text-center" mat-header-cell> Node</th>
        <td *matCellDef="let element" class="text-center" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="control">
        <th *matHeaderCellDef class="text-center" mat-header-cell> Target Node Path</th>
        <td *matCellDef="let element" class="text-center" mat-cell>
            <mat-form-field>
                <input [formControl]="element.control" matInput>
            </mat-form-field>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
