<div class="preparation-directory-wrap">
    <mat-form-field appearance="standard" class="preparation-directory">
        <input #PreparationDirectory (change)="onPreparationDirectoryChange()" webkitdirectory
               hidden id="preparation-directory"
               type="file">
        <mat-label>Enter directory path</mat-label>
        <input #PreparationPath [formControl]="controlPreparationDirectoryPath" matInput type="text">
        <button (click)="PreparationDirectory.click()" mat-icon-button matSuffix
                [color]="!controlPreparationDirectoryPath.pristine && controlPreparationDirectoryPath.invalid ? 'warn' : 'primary'">
            <mat-icon>folder_open</mat-icon>
        </button>
        <mat-error *ngIf="controlPreparationDirectoryPath.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
</div>

<div class="control-wrap">
    <button mat-raised-button matStepperNext color="primary" class="stepper-control">Next</button>
</div>
