<div class="preparation-directory-wrap">
    <mat-form-field appearance="outline" class="preparation-directory">
        <input #PreparationDirectory (change)="onPreparationDirectoryChange()" webkitdirectory hidden id="preparation-directory"
               type="file">
        <mat-label>Enter directory path</mat-label>
        <input [formControl]="controlPreparationDirectoryPath" matInput type="text" #PreparationPath>
        <button (click)="PreparationDirectory.click()" mat-icon-button matSuffix>
            <mat-icon>folder_open</mat-icon>
        </button>
        <mat-error *ngIf="controlPreparationDirectoryPath.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
</div>

<div class="files-wrap">

</div>
[
<div class="nodes-wrap">
    <mat-selection-list [formControl]="selection">
        <mat-list-option *ngFor="let item of testItems" [checkboxPosition]="'before'"
                         [value]="item">{{ item }}</mat-list-option>
    </mat-selection-list>
</div>
