//@import '~@angular/material/theming';

:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preparation-directory {
    width: 460px;
    //&.ng-invalid {
    //    mat-icon {
    //        color: mat-color($primary);
    //    }
    //}
}

.control-wrap {
    margin-top: 20px;
}
