
::ng-deep .panel-drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    .mat-dialog-container {
        padding: 0;
        width: 90vw;
        height: 90vh;
        border: 15px dashed gainsboro;
        border-radius: 50px;
        background-color: transparent;
    }

}

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.dropzone {
    display: flex;
    height: 100%;
}
.zone {
    width: 50%;
    height: 100%;
}
