:host {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 15px;
}

.language-wrap {
    overflow-y: auto;
    display: block;
    margin-right: 20px;
    width: 300px;
}

.node-wrap {
    display: block;
    flex: 1 1 auto;

    .node-table {
        width: 100%;
    }
}
