.stepper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    //::ng-deep .mat-horizontal-content-container {
    //    flex: 1 1 auto;
    //}
    //
    //::ng-deep .mat-horizontal-stepper-content {
    //    height: 100%;
    //}
}

