:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.source-panel,
.target-panel {
    width: 50%;
}

.target-panel {
    display: flex;
    flex-direction: column;
}

.preparation-directory {
    width: 80%;
}


